* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  background-color: lightslategray;
}

#app {
  text-align: center;
  background-color: purple;
  font-size: 1rem;
  padding: 1rem 0;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pet {
  display: block;
  width: 95%;
  margin: 1rem auto;
  border: none;
}

.pet:focus {
  outline: none;
}

.main_content img,h3,p,a {
  display: block;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 95%;
  margin: 1rem auto;
}

#btn {
  display: block;
  width: 95%;
  margin: 0.1rem auto;
  text-align: center;
  background-color: green;
  border: none;
  padding: 0.3rem 0;
  margin-bottom: 0.4rem;
}

#btn:focus {
  outline: none;
}

#btn:hover {
  color: purple;
}

.img_options {
  display: inline-block;
  margin: 0.2rem auto;
  text-align: center;
  text-decoration: none;
  color: rgb(10,100,255);
}